# How to calculate summary statistics?

Follow along with this [article](https://pandas.pydata.org/pandas-docs/stable/getting_started/intro_tutorials/06_calculate_statistics.html). The data set from the article has been included in the repository already, no need to download separately. This notebook will also contain some supplemental information to help you better understand basic summary statistics.

First thing we want to do is to import the pandas library.

In [6]:
# import the pandas library and use the alias 'pd'
import pandas as pd

We are going to be working with the titanic dataset found [here.](https://github.com/pandas-dev/pandas/blob/master/doc/data/titanic.csv) It is in csv format and consists fo the following data columns:


- PassengerId: Id of every passenger.
- Survived: Value of 0 for not survived and 1 for survived.
- Pclass: There are 3 classes: Class 1, Class 2 and Class 3.
- Name: Name of passenger.
- Sex: Gender of passenger.
- Age: Age of passenger.
- SibSp: Number of siblings / spouses on the Titanic
- Parch: Number of parents / children on the Titanic
- Ticket: Ticket number of passenger.
- Fare: Indicating the fare.
- Cabin: The cabin of passenger.
- Embarked: Port of Embarkation ( C = Cherbourg, Q = Queenstown, S = Southampton)

Let's load the data into a data frame and see what the data looks like. Since your csv file is in a folder named data, the path syntex is: data/your_data_set_name.csv to read your data into a data frame.

In [7]:
#read titantic data set into a data frame
titanic = pd.read_csv("data/titanic.csv")

#although we listed the column names above, write the code to return the name of all of your columns in the dataset
titanic.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [8]:
# print the first 5 rows from the dataframe
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

What are some of your observations from looking at the data so far? Questions you would like to explore? #the correlation between class and survival, and gender and survival

For example: I noticed that Survived is an int instead of Yes or No, not sure if I'll need to address that while data cleaning. I'm curious if the amount you paid for your ticket(Fare) impacted your survival rate?
<br><br><br><br><br>

In [9]:
titanic.info() #returns: 
#name of the column, Non-null Count meaning how many non-null values their are in that column and Dtype
#int64 means int value, float64 means float value, object means string value.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

By default statistical anaysis is run on numerical values.  

Looking at the data above what do you notice about Age? Cabin? Hint: It would appear we are missing some data. How might these observations influence the questions asked?<br><br> #missing data could throw off the mean/median/mode

Any other observations?
<br><br><br>

## Aggregating statistics

### Calculating Mean, Median, Mode

#### Mean: is the sum of the values divided by the number of values.

In [10]:
#What is the mean age of the Titanic passengers?
titanic["Age"].mean()

29.69911764705882

We can also get the mean for all columns.

In [12]:
#mean for all columns
titanic.mean()

C:\Users\19739\AppData\Local\Temp\ipykernel_11352\2211721298.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  titanic.mean()

PassengerId    446.000000
Survived         0.383838
Pclass           2.308642
Age             29.699118
SibSp            0.523008
Parch            0.381594
Fare            32.204208
dtype: float64

#### Median: Is the middle value when all the numbers are put in order, dividing the sample into two halves.  

Example: (23, 46, 55, 78, 99)<br> 
The Median of the above example is 55.

In [13]:
# What is the median age and ticket fare price of the Titanic passengers?
titanic[["Age", "Fare"]].median()

Age     28.0000
Fare    14.4542
dtype: float64

#### Mode: The most frequent value(s) in a sample

In [14]:
# What is the mode age and fare for the titanic dateset?

titanic[["Age", "Fare"]].mode()

    Age  Fare
0  24.0  8.05

Note the difference between Mean, Medium and Mode.  Why is this important? Can you think of times you would what to use one over the others?<br><br><br><br><br>
#mode is what occurs most often, but mean is the average. the median is the exact middle. the latter two can be thrown off by outliers, but the mode shows us what is the most common value across the sample

We can use the .describe() funciton to display some basic statistics for all numeric columns:

In [15]:
# Summary statistics for all columns in a dataset
titanic.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [16]:
# Summary statistics for just the Age and Fare columns
titanic[["Age", "Fare"]].describe()

              Age        Fare
count  714.000000  891.000000
mean    29.699118   32.204208
std     14.526497   49.693429
min      0.420000    0.000000
25%     20.125000    7.910400
50%     28.000000   14.454200
75%     38.000000   31.000000
max     80.000000  512.329200

Notice that medium and mode are not included in .describe()

Instead of the predefined statistics, specific combinations of aggregating statistics for given columns can be defined using the [DataFrame.agg() method:](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.agg.html#pandas.DataFrame.agg)

In [21]:
#use .agg
titanic.agg(['sum', 'min'])

C:\Users\19739\AppData\Local\Temp\ipykernel_11352\393813036.py:2: FutureWarning: ['Cabin', 'Embarked'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  titanic.agg(['sum', 'min'])

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare
sum,397386,342,2057,"Braund, Mr. Owen HarrisCumings, Mrs. John Brad...",malefemalefemalefemalemalemalemalemalefemalefe...,21205.17,466,340,A/5 21171PC 17599STON/O2. 31012821138033734503...,28693.9493
min,1,0,1,"Abbing, Mr. Anthony",female,0.42,0,0,110152,0.0000

## Aggregating statistics grouped by category

Calculating a given statistic (e.g. mean age) for each category in a column (e.g. male/female in the Sex column) is a common pattern. The groupby method is used to support this type of operations.

In [23]:
# What is the average age for male versus female Titanic passengers?
titanic.groupby('Sex')['Age'].mean()

Sex
female    27.915709
male      30.726645
Name: Age, dtype: float64

In [24]:
# What is the survival of men verses female Titanic Passengers? 

titanic.groupby('Sex')['Survived'].mean()

Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64

In [28]:
# Try some other combinations, what do you think about this method?


titanic.groupby('Age')['Survived'].mean()
titanic.groupby('Pclass')['Sex'].mean()




#these iternations didn't work and I do not understand why; probably because the columns don't work with this type of math function

TypeError: Could not convert femalefemalemalefemalemalemalemalefemalemalemalefemalemalemalefemalemalemalemalefemalemalemalemalemalemalemalemalefemalemalemalefemalemalefemalemalemalemalefemalemalemalefemalefemalemalefemalefemalemalefemalemalemalemalefemalefemalefemalemalemalefemalefemalemalemalefemalemalefemalefemalemalefemalemalefemalemalefemalefemalefemalefemalefemalefemalefemalefemalefemalemalemalefemalemalefemalemalefemalemalefemalefemalefemalemalemalefemalemalefemalefemalemalefemalefemalemalemalefemalemalemalemalemalemalemalemalefemalemalemalemalemalemalefemalemalemalemalefemalefemalefemalemalemalemalefemalemalefemalefemalemalemalefemalefemalefemalemalemalemalemalefemalemalefemalefemalemalefemalefemalemalefemalemalefemalemalemalemalemalefemalemalemalefemalemalemalemalefemalemalemalemalemalemalefemalemalemalemalefemalemalemalemalefemalemalemalefemalefemalemalemalefemalemalefemalemalemalemalefemalemalemalefemalefemalefemalemalefemalefemalemalemalemalefemalemalemalefemalemalefemalemalefemalefemalemalefemalefemalefemalefemalemalefemalemalefemalemalefemalefemalemale to numeric

In the previous examples, we explicitly selected the 2 columns first. If not, the mean method is applied to each column containing numerical columns:

In [29]:
#use .groupby Sex and .mean
titanic.groupby('Sex').mean()

C:\Users\19739\AppData\Local\Temp\ipykernel_11352\2842497008.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  titanic.groupby('Sex').mean()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
Sex,,,,,,,
female,431.028662,0.742038,2.159236,27.915709,0.694268,0.649682,44.479818
male,454.147314,0.188908,2.389948,30.726645,0.429809,0.235702,25.523893

It does not make much sense to get the average value of the Pclass. if we are only interested in the average age for each gender, the selection of columns (rectangular brackets [] as usual) is supported on the grouped data as well:

In [32]:
#use .goupby Sex just for Age 
titanic.groupby('Age')['Sex'].count()

Age
0.42     1
0.67     1
0.75     2
0.83     2
0.92     1
        ..
70.00    2
70.50    1
71.00    2
74.00    1
80.00    1
Name: Sex, Length: 88, dtype: int64

In [33]:
# What is the mean ticket fare price for each of the sex and cabin class combinations?
avg_ticket_by_sex = titanic.groupby(['Sex', 'Pclass'])['Fare'].mean()
print(avg_ticket_by_sex)

Sex     Pclass
female  1         106.125798
        2          21.970121
        3          16.118810
male    1          67.226127
        2          19.741782
        3          12.661633
Name: Fare, dtype: float64

In [34]:
# Try some other combinations, what do you think about this method?
how_many_tickets = titanic.groupby(['Sex', 'Pclass'])['Fare'].count()

print(how_many_tickets)

Sex     Pclass
female  1          94
        2          76
        3         144
male    1         122
        2         108
        3         347
Name: Fare, dtype: int64

## Count number of records by category

The value_counts() method counts the number of records for each category in a column.

In [37]:
# What is the number of passengers in each of the cabin classes?
counts = titanic['Pclass'].value_counts()
print(counts)

3    491
1    216
2    184
Name: Pclass, dtype: int64

The function is a shortcut, as it is actually a groupby operation in combination with counting of the number of records within each group:

In [41]:
#Count the number of passengers by cabin classes using groupby
counts = titanic.groupby('PClass').size()
print(counts)

KeyError: 'PClass'

In [47]:
# Using the value_counts method what else could you count?


counts_survived = titanic['Survived'].value_counts()
counts_age = titanic['Age'].value_counts()


print(counts_survived)
print(counts_age)

0    549
1    342
Name: Survived, dtype: int64
24.00    30
22.00    27
18.00    26
19.00    25
28.00    25
         ..
36.50     1
55.50     1
0.92      1
23.50     1
74.00     1
Name: Age, Length: 88, dtype: int64